body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main {
  background-color: #1F2937;
  color: #F9FAF8;
}

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.logo {
  margin-left: -2rem;
}

#head-logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

.header-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-right: -2rem;

}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}




.box {
  border: 3px solid #3882F6;
  border-radius: 6%;
  background: white;
  width: 200px;
  height: 200px;
}